@model BookModel
@using(Html.BeginForm())
{
    <fieldset>
        <legend>Livre</legend>
    
    //Faire sous cette forme pour toutes les propriétés de votre objet sauf pour la partie ID 
    //remplacer le PropertyOfObject par le nom de la propriété de votre model

    <!-- <div class="editor-label">
        @Html.LabelFor(model => model.PropertyOfObject)
    </div>

    <div class="editor-field">
        @Html.TextBoxFor(model => model.PropertyOfObject)
    </div>
        -->
    

    <input type="submit" value="Ajouter un livre"/>
    </fieldset>
    
}