@{
    ViewData["Title"] = "Home Page";
}
@model List<BookModel>

<h1>Listes des livres en stock</h1>
<div>
    @foreach(var cm in @Model) {
        <!-- 

            Afficher comme vous le voulez les propriétés de votre objet en mettant sous cette forme 
            cm.Property où Property est une propriété de votre modèle
        -->
        <!-- utiliser ActionLink pour faire un lien vers l'action de suppression avec quatres arguments 
        Le libellé de votre lien, l'action du controller, le nom de votre controller et  "new { bookId = cm.PropertyId }" 
        où PropertyId est le nom de la propriété correspondant à l'id de votre model -->
    }
</div>
 <!-- utiliser ActionLink pour faire un lien vers l'action d'ajout -->